  .App{
    
  }
  .form-container.Login-email, .Login-pass{
    position:absolute;
    display: flex;
    
  }
  
  .Login-email{
    
    position: absolute;
    margin: 30px 0;
    width: 310px;
    left: 1005.01px;
    top: 416px;
  
    border-bottom: 2px solid #0a0707;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  
    color: #000000;
  }
  .Login-pass{
    position: absolute;
    margin: 30px 0;
    width: 310px;
    left: 1005.01px;
    top: 526px;
  
    border-bottom: 2px solid #0a0707;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  
    color: #000000;
  
  }
  
  .button-login-down{
    position: absolute;
    width: 123px;
    height: 50px;
    left: 1319.01px;
    top: 630px;
    
    background: #EDAE6D;
    border-radius: 40px;
    border-color: #FFF6ED;
  }
  
  input{
    border:none;
    background-color: #FFF6ED;
  }
  .link-forget{
    position: absolute;
    width: 170px;
    height: 24px;
    left: 934.01px;
    top: 643px;
  
    font-style: normal;
    background: none;
    border:none;
    color: black;
    text-decoration: underline;
    
  }
  
  .button-signup{
    position: absolute;
    width: 175px;
    height: 58px;
    left: 1236px;
    top: 277px;
  border-radius: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 600;
  text-decoration: underline;
  /* identical to box height */
  color: #B5B5B5;

  /* Sign up */

/* identical to box height */




/* Sign up *//* Sign up */

  }
  
  .button-login{
    
position: absolute;
width: 129px;
height: 58px;
left: 1006px;
top: 276px;

/* identical to box height */

color: #EDAE6D;


  border-radius: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 600;
  text-decoration: underline;
    
  }
  
  .shop1{
    /* shop 1 */
    position: absolute;
    width: 858px;
    height: 982px;
    left: 1px;
    top: 0px;
  
  }
  
  .user1{
    position: relative;
    width: 31px;
    height: 31px;
    left: 950.01px;
    top: 409px;
  }
  
  .pass1{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 950.01px;
    top: 519px;
  }
  